@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  background-image: url(".. /assets/parking.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(6px);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background: rgb(63, 94, 251);
  background: linear-gradient(
    30deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(255, 117, 145, 1) 100%
  ); */
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 100%;
  border: 1px solid #9c9c9c;
  border-radius: 15px;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}

.logo {
  text-align: center;
  margin-top: 1rem;
}

.logo img {
  border: 1px solid black;
  border-radius: 5%;
  width: 130px;
}

.register{
  /* background-color: #efefef; */
}

.outline-box {
  margin: 32px 0;
  padding: 30px;
  border: .5px solid black;
  border-radius: 13px;

}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.box .item {
  margin: 13px 15px;
  min-width: 30%;
}